

<MatStringField @bind-Value="username" Label="User Name"></MatStringField>
<br />
<MatCheckbox @bind-Value="IsSingle" Label="Single player game?"></MatCheckbox>
<br />
<button class="btn btn-primary" style="margin-top:1em" @onclick="AddUser">Next</button>
@if (connected)
{
    <h4>Create or Join a game</h4>
    <MatSlideToggle @bind-Value="isJoin" @onclick="CreateOrJoin" Label="@createJoin"></MatSlideToggle><br />
    @if (!isJoin)
    {
        <MatStringField @bind-Value="groupname" Label="New group name"></MatStringField>
    }
    else
    {
        <MatSelect Label="Select a game to join" @bind-Value="groupname">
            <MatOptionString></MatOptionString>
            @foreach (var grp in CreatedGroups)
            {
                <MatOptionString Value="@grp">@grp</MatOptionString>
            }
        </MatSelect>
    }
    <br />
    <button class="btn btn-primary" @onclick="JoinGroup">Join Game</button>
    <hr />
}
@if (beginGame)
{
    <button class="btn btn-primary" @onclick="StartGame">Click here to start Connect Four!</button>
}
@code {
    [Parameter]
    public string username { get; set; }
    [Parameter]
    public string groupname { get; set; }
    [Parameter]
    public bool IsSingle { get; set; }
    [Parameter]
    public EventCallback<string> usernameChanged { get; set; }
    [Parameter]
    public EventCallback<string> groupnameChanged { get; set; }
    [Parameter]
    public EventCallback JoinGame { get; set; }
    [Parameter]
    public EventCallback<bool> IsSingleChanged { get; set; }
    [CascadingParameter]
    public List<string> CreatedGroups { get; set; }
    string createJoin = "Create a new Game";
    bool beginGame = false;
    bool connected = false;
    bool isJoin = false;

    async Task AddUser()
    {
        await usernameChanged.InvokeAsync(username);
        await IsSingleChanged.InvokeAsync(IsSingle);
        if (IsSingle)
        {
            await StartGame();
            return;
        }
        connected = true;
        StateHasChanged();
    }
    async Task JoinGroup()
    {
        if (IsSingle)
        {
            await StartGame();
            return;
        }
        await groupnameChanged.InvokeAsync(groupname);
        beginGame = true;
        StateHasChanged();
    }
    async Task StartGame()
    {
        await JoinGame.InvokeAsync(true);
        StateHasChanged();
    }
    void CreateOrJoin()
    {
        createJoin = "Join a game";
    }
}
